@page "/sio/create-case"
@inherits CreateCaseBase
@attribute [Authorize(Roles = "organization-administrator, sio")]
<PageTitle> Create case </PageTitle>

<PageLoad @ref="@PageLoad">
    <MudText Typo="Typo.h1" Align="Align.Center"> Create case </MudText>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudStack>
            <div>
                <MudText Typo="Typo.subtitle1" Align="Align.Center"> To create a case complete the form below and click / tap 'Create'. </MudText>
                <MudText Typo="Typo.subtitle2" Align="Align.Center"> Set the case ID, name and users who should have access to the case. </MudText>
            </div>
            <MudGrid Class="justify-center">
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Case ID"
                                          @bind-Value="Model.CaseId" For="@(() => Model.CaseId)" Required="true"/>
                            <MudTextField Label="Case name"
                                          @bind-Value="Model.CaseName" For="@(() => Model.CaseName)" Required="true"/>
                            <MultiSelectAutoComplete T="API.User" @bind-Values="Model.Users"
                                                     SearchFunc="UserSearchFunc" Label="Users with access to case"
                                                     GetNameFunc="c => c.DisplayName" HelperText="NOTE: The SIO will automatically be added to the case."/> @* GetIDFunc="c => c.Id" *@
                            <AuthorizeView Roles="organization-administrator" Context="a">
                                <MudAutocomplete T="API.User" @bind-Value="Model.SIO" SearchFunc="SIOUserSearchFunc" Label="SIO" ToStringFunc="c => c.DisplayName"></MudAutocomplete>
                            </AuthorizeView>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"> Create </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudStack>
    </EditForm>
</PageLoad>