@page "/error"
@using System.Net
@inherits ErrorBase

@* 403 Forbidden *@
@* ReSharper disable once ConvertIfStatementToSwitchStatement *@
@if (StatusCode == HttpStatusCode.Forbidden)
{
    <PageTitle> Forbidden </PageTitle>
    <div class="d-flex justify-center ">
        <div>
            <MudText Typo="Typo.h1"> Forbidden </MudText>
            <MudText>You do not have access to the requested page</MudText>
        </div>
        <div class="picture">
            <ErrorImage StatusCode="403"></ErrorImage>
        </div>
    </div>
}
@* 404 Not found *@
else if (StatusCode == HttpStatusCode.NotFound)
{
    <PageTitle> Not Found </PageTitle>
    <div class="d-flex justify-center ">
        <div>
            <MudText Typo="Typo.h1"> Not found </MudText>
            <MudText>The server can not find the requested page</MudText>
        </div>
        <div class="picture">
            <ErrorImage StatusCode="404"></ErrorImage>
        </div>
    </div>
}
@* Login expired *@
else if (LoginExpired)
{
    <PageTitle> Login Expired </PageTitle>
    <div class="d-flex justify-center ">
        <div>
            <MudText Typo="Typo.h1"> Login Expired </MudText>
            <MudText> Your login has expired, please login again! </MudText>
            <MudButton OnClick="@LoginClick" Variant="Variant.Filled" Color="Color.Primary"> Login </MudButton>
        </div>
        <div class="picture">
            <ErrorImage StatusCode="401"></ErrorImage>
        </div>
    </div>
}
@* Unknown error *@
else
{
    <PageTitle> Error </PageTitle>
    <div class="d-flex justify-center ">
        <div>
            <MudText Typo="Typo.h1"> @Title </MudText>
            <MudText> @Description </MudText>
        </div>
        <div class="picture">
            <ErrorImage StatusCode="@((int)StatusCode)"></ErrorImage>
        </div>
    </div>
}